body {
  background: url("../assets/images/bg.jpg");
  background-color: #000;
  color: #fff;
  font-family: tahoma, geneva, sans-serif;
}
.branding h1 {
  font-size: 72px;
  font-weight: bold;
}
.branding {
  color: #fff;
  margin-top: 25px;
}
.branding p {
  font-size: 20px;
  font-weight: bold;
}
.nav-links {
  background: #689BB1;
  color: #fff;
  border: 5px solid #fff;
  font-family: tahoma, geneva, sans-serif;
  text-transform: uppercase;
  padding: 10px;
}
.nav-links ul {
  list-style-type: none;
}
.nav-links li {
  font: 400 22px "Oswald", sans-serif;
  letter-spacing: 1px;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.nav-links li a:hover {
  color: #212A36;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
.nav-links li a:active {
  color: #212A36;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}
#nav-links-active
{
  color: #212A36;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.content
{padding: 10px; color:#fff;}
